<img style="float: left;;" src='Figures/alinco.png' /></a>

# <center> <font color= #000047> Actividad 2: Regresión Logística</font>
___

**En esta actividad se estará trabajando con el dataset 'Social_Network_Ads.csv'. Hay que realizar lo siguiente:**

> 1.- Estandarizar los datos (StandardScaler) x_std = (x - x.mean())/x.std()

> 2.- Utilizando la libreria hecha en clase, encontrar un modelo de reg. logística 

> 3.- El modelo encontrado tenga un accuracy mayor al 80% 

> 4.- Predecir datos nuevos (clientes nuevos) C_new =[35, 58000]

In [2]:
import pandas as pd
dataset = pd.read_csv('Data/Social_Network_Ads.csv')

In [3]:
dataset.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0